.header {
  height: 50px;
  background-color: $grey-dark;
}

.sidebar {
  width: 60px;
  background-color: $grey-dark;
}


.content {
  background-color: $grey-lighter;
}


.footer {
  height: 20px;
  background-color: $app-primary;
}