.main {
  @extend .flex-shrink-height;
  @extend .flex-container-row;

  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
  }
}

.content {
  @extend .flex-shrink-height;
  @extend .flex-container-column;

  background-color: $grey-background;
  
  @include media-breakpoint-down(md) {
    flex: 1 1 0;
    width: 100%;
  }
}

loading{
  width: 100%;
}

.content-loader {
  width: 70px;
  margin: 0 auto;
  display: block;
  animation: shimmy 5s infinite;
}

@keyframes shimmy {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.gel-icon {
  color: $mc-red;
}

h1{
  font-weight: normal;
}

h2{
  font-weight: normal;
}