.header {
    height: $size-header;
    background-color: $grey-dark;
    display: flex;
    flex-flow: row nowrap;
  
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $size-sidebar;
    color: $app-primary;
    padding: 0 5px;
  } 
  .search-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .wrapper-for-icon {
      background-color: $mc-white;
      width: 33%;
      display: flex;
      margin: auto;

      .fa-search {
        font-size: 24px;
        padding: 8px;
        color: $grey-dark;
      }

      input {
        display: flex;
        flex: 1;
        font-size: 16px;
        padding: 8px;
        border: none;
        color: $grey-dark;
      }
    }
  }
  .alerts {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 10px;
    color: $mc-yellow;
  }
}