.header {
    height: $size-header;
    background-color: $grey-dark;
    display: flex;
    flex-flow: row nowrap;
    overflow: visible;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
   
    .autocompleteSearchList{
      position : absolute;
      z-index: 5;
      margin-top:30px;
      display : none;
    }
  
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $size-sidebar;
    color: $app-primary;
    padding: 0 5px;

    @include media-breakpoint-down(md) {
     width: auto; 
    }
    @include media-breakpoint-down(sm) {
      display: none;
    }
  } 
  .search-wrapper {
    background-color: $mc-white;
    position: relative;
    margin: auto;
    transition: width 1s;

    .input-wrapper {
      display: flex;
      flex: 1;
    }

    @include media-breakpoint-up(sm) {
      display: flex;
      width: 33%;
      &.focused {
        width: 50%;
      }
    }

    .fa-search {
      font-size: 24px;
      padding: 8px;
      color: $grey-dark;
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    input {
      @include media-breakpoint-up(sm) {
        display: flex;
        flex: 1;
      }
      
      font-size: 16px;
      padding: 8px;
      border: none;
      color: $grey-dark;
    }
  }
  .alerts {
    margin: auto 0;
    padding: 10px 10px 10px 0;
    font-size: 24px;
    position: relative;
    color: $mc-yellow;
    background: none;
    border: none;

    &:hover {
      color: lighten($mc-yellow, 15%);
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }

    @include media-breakpoint-up(sm) {
      padding: 10px 10px 0 0;
      position: absolute;
      right: 16px;
      top: 0;
    }
    .count-alerts {
      font-size: 16px;
      background-color: transparent;
      padding: 0px 4px;
      color: #fff;
      position: absolute;
      right: 0px;
      top: 0;
    }
  }
  .alerts-pane {
    display: none;
    list-style: none;
    padding: 5px 10px;
    border: 1px solid $grey-light;
    border-radius: 10px;
    z-index: 3;
    background-color: $mc-white;
    position: absolute;
    right: 5px;
    top: 55px;
    font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
    font-size:12px;

    @include media-breakpoint-down(sm) {
      .table {
        display: block;
        overflow: auto;
      }
    }

    .btnAlertNotif{
      display:flex;

      .btn{
        width:100%;
        margin:auto;
      }
    }

    .label{
      padding:4px;
      color: $mc-white;
      font-size: 12px;
      text-transform: lowercase;
      border-radius: 2px;
      font-weight: bold;
      text-align: center;
        
      .fa{
          color:$mc-yellow;
      }
    }
        
    .label-serieux{
      background-color: $mc-orange;
    }
        
    .label-critique{
      background-color: $mc-red; 
    }
        
    .label-info{
      background-color: $mc-teal ;
    }
    

    @include media-breakpoint-down(md) {
      right: 0px;
      width: 100%;
    }
    &:after {
      bottom: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: $grey-dark;
      border-bottom-color: $mc-white;
      border-width: 7px;
      right: 24px;
      @include media-breakpoint-down(md) {
        right: 13px;
      }
    }

    li {
      font-size: 16px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        margin: auto 0;
      }

      .alert-text {
        flex: 1;
        display: flex;
        max-width: 300px;

        a {
          margin: 0 5px;
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
        color: $app-primary;
        font-size: 18px;
    
        &:hover {
          color: $app-primary_dark;
        }
      }

      .alert-timestamp {
        padding-left: 5px;
        color: $grey-base;
        font-size: 12px;
        align-self: flex-end;
        display: flex;
        flex: none;
      }

      &.gravity-1 {
        color: $gravity1;
      }
      &.gravity-2 {
        color: $gravity2;
      }
      &.gravity-3 {
        color: $gravity3;
      }
      &:not(:first-of-type) {
        border-top: 1px solid $grey-base;
      }
    }
    
    .more-link {
      margin-top: 5px;
      font-weight: bold;
      text-align: center;
      padding: 0;
      border-bottom: none;
      a {
        padding: 5px;
        border: 3px solid $app-primary;
        width: 100%;
        color: $mc-white;
        background-color:$app-primary;
        &:hover {
          text-decoration: none;
          color: $app-primary;
          background-color:$mc-white;
        }
      }
    }
  }
}

//bell shaking
@keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 0.8s;
  -webkit-transform-origin:50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-name: spaceboots;
  animation-duration: 0.8s;
  transform-origin:50% 50%;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  animation-timing-function: linear;
}