home {
  @extend .app-container;
}


  
.wrapperPrincipal{
  flex: 1;

  .mapHome{
    width:100%; 
    height:100%;
    padding: 10px;
  }

  .wrapperLeft{
    flex-flow: column nowrap;
    display:flex;
  
  .wrapperSites{
      flex : none;
      overflow-x:auto;
      display:flex;
      flex-direction: row;
      flex-wrap : nowrap;
  
      .wrapperSite {
        flex:none;
        margin-right:5px;
      }
    }
  }
}
  
  .mapWrapper{
    padding-left:0px;
    margin-bottom:10px;
  }
  
  
  

  



agm-map {
  @extend .app-container;
  @extend .flex-container;
  .si-content {
    text-align: center;
    font-weight: bold; 
  }
}