.login{
    //background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/8e/Ice_road_in_the_Northwest_Territories_-a.jpg');
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color : $grey-light;
    }

    h3 {
        color : $grey-light;
        font-style: italic;
        font-size: 15px;
    }

    .loginZone{

    }
    
    .formZone {
    
    }
    
    .label {
        background-color : $grey-lighter;
        padding : 10px;
        margin : 10px;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 20px;
        color: $grey-dark;
        width : 45%;
        box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        display: inline-block;

        h5{
            padding: .75rem 1.25rem;
            margin: -10px;
            background-color: rgba(0, 0, 0, .03);
            border-bottom: 1px solid rgba(0, 0, 0, .125)
        }

        h5:first-child {
            border-radius: 20px 20px 0 0
        }

        input[type="radio"]{
            display : none;
         }

        .label-checkbox{
            position : relative;
         }

         .label-checkbox:after{
            content : '';
            display : block;
            width : 26px;
            height : 26px;
            border-radius : 3px;
            border : 1px solid $grey-base;
            margin-left: 60px;
            margin-top:25px;
         }

         input[type="radio"]:checked+.label-checkbox:after{
            content : ' ';
            background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Blue_check.svg/500px-Blue_check.svg.png');
            background-size: 24px;
            width:26px;
            height: 26px;
            border : 1px solid $mc-blue;
         }


        
    }

    .label:hover{
        background-color : $mc-blue; 
    }

    
    button {
        background-color: rgba(0, 0, 0, .03);
        padding : 10px;
        border: 1px solid rgba(0, 0, 0, .125);

        .round{
            padding : 5px;
        }

        .txt{
            margin-left:5px;
        }
        
    }

    button:hover{
        background-color: $mc-blue;
    }


}




