.tableSearch{
    background-color: $mc-white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;

    table tbody tr td{
        font-size:13px;
    }
    .ng2-smart-title{
        font-size:15px;
    }
}