site {
	@extend .app-container;
}

.wrapperFirstLine{
    margin-bottom:10px;
    margin-top: 10px;

    .cardInfosSite{
    
        .fit-img {
            object-fit: contain;
            width: 100%;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
            box-shadow: 0 2px 5px 0 $cardShadow  ;
        }

        .contentSite{

            .title{
                text-transform: uppercase;
                font-size: 15px;
                padding-top:10px;
            }

            .buttonMoreInfos{

                margin-top: -40px;
                display : flex;
                align-items: left;
                flex-direction: row;
                justify-content: center;

                .icon{
                    width: 50px;
                    height: 50px;
                    font-size: 25px;
                    line-height: 50px;
                    border-radius: 50%;
                    margin:auto;
                    color: #fff;
                    padding:10px;
                    display : flex;
                    align-items: center;
                    justify-content: center;
                }

                .btnCaract{
                    background-color: $mc-teal;
                }
                
                .btnMeteo{
                    background-color: $mc-orange ;
                }

            }


            .caracteristiques{
                display:block;
                font-family: RobotoDraft, Roboto, 'Helvetica Neue', sans-serif;
                font-size: 12px;

                div{
                    padding-top:10px;
                }

                p{
                    margin-bottom: 0px;
                }
            }

            .meteo{
                display:none;
            }

        }

    }

}