<div class="container">




    <div class="row">
        <div class="col-lg input-group">
            <span class="input-group-addon">
                <i class="fa fa-info-circle"></i>
                ID
            </span>
            <input id="id" type="text" class="form-control" name="ID" placeholder="ID" disabled>
        </div>

        <div class="col-lg input-group">
            <span class="input-group-addon">
                <i class="fa fa-commenting"></i>
                Dernier message
            </span>
            <input id="lastCommunication" type="text" class="form-control" name="derniere communication" placeholder="derniere communication"
                disabled>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-10 input-group">
            <span class="input-group-addon">
                <i class="fa fa-tag"></i>
                Nom
            </span>
            <input id="name" type="text" class="form-control" name="Nom" placeholder="Nom">
        </div>

        <div class="col-xl-2 zoneCheckBox">
            <span>
                <i class="fa fa-heart"></i>
                Favoris
            </span>
            <label class=" switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>




    <div class="input-group">

        <span class="input-group-addon">
            <i class="fa fa-map-marker"></i>
            Site
        </span>
        <select class="form-control" id="site">
            <option selected>
                Site
            </option>
            <option value="1">Site1 machin bidule</option>
            <option value="2">Site2</option>
            <option value="3">Site3</option>
        </select>

        <i class="plusicon fa fa-plus-circle"></i>
    </div>

    <div class="input-group">

        <span class="input-group-addon">
            <i class="fa fa-home"></i>
            Zone
        </span>
        <select class="form-control" id="zone">
            <option selected>
                Zone
            </option>
            <option value="1">Zone1 machin bidule</option>
            <option value="2">Zone2</option>
            <option value="3">Zone3</option>
        </select>
    </div>

    <div class="btn-form-admin">
        <button type="button" class="btn btn-secondary">
            <i class="fa fa-trash"></i> Supprimer ce site </button>
        <button type="button" class="btn btn-primary">
            <i class="fa fa-floppy-o"></i> Enregistrer les modifications</button>

    </div>




</div>