
<a routerLink="home" class="side-wrapper" title="Accueil">
    <i class="side-icon fa fa-home"></i>
    <div class="side-text">
        Accueil
    </div>
</a>
<a routerLink="search" class="side-wrapper" title="Recherche avancée">
    <i class="side-icon fa fa-search"></i>
    <div class="side-text">
        Recherche
    </div>
</a>
<a routerLink="alerts" class="side-wrapper" title="Avertissements">
    <i class="side-icon fa fa-bell"></i>
    <div class="side-text">
        Avertissements
    </div>
</a>
<a routerLink="admin" class="side-wrapper" title="Espace d'administration">
    <i class="side-icon fa fa-cogs"></i>
    <div class="side-text">
        Administration
    </div>
</a>
<div class="side-space"></div>
<a routerLink="#" class="side-wrapper" (click)="login.reset()" title="Déconnexion">
    <i class="side-icon fa fa-sign-out"></i>
    <div class="side-text">
        Déconnexion
    </div>
</a>
<!--<div class="switch-env">
    <input type="checkbox" id="env" name="env" class="switch-input" (change)="login.switch()">
    <label for="env" class="switch-label">
        <span class="toggle toggle--on">Agri</span><span class="toggle toggle--off">Refuge</span>
    </label>
</div>-->