<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Admin</h1>
        </div>
        <a routerLink="site/form" class="col-sm-6 col-md-6 col-lg-6">Form Site</a>
        <a routerLink="site/list" class="col-sm-6 col-md-6 col-lg-6">List Site</a>
        <a routerLink="sensor/form" class="col-sm-6 col-md-6 col-lg-6">Form Sensor</a>
        <a routerLink="sensor/list" class="col-sm-6 col-md-6 col-lg-6">List Sensor</a>
    </div>
    <router-outlet></router-outlet>
</div>