<div class="adminZone">

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Sites
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a routerLink="site/form">Site1</a>
            </li>
            <li>
                <a routerLink="site/form">Site2</a>
            </li>
            <li>
                <a routerLink="site/form">Site3</a>
            </li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Capteurs
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <a routerLink="sensor/form">Capteur1</a>
            </li>
            <li>
                <a routerLink="sensor/form">Capteur2</a>
            </li>
            <li>
                <a routerLink="sensor/form">Capteur3</a>
            </li>
        </ul>
    </div>


    <div id="the-basics">
        <input [(ngModel)]="querySite" (keyup)="filter()" class="typeahead" type="text" placeholder="States of USA">
    </div>
    <div class="suggestions" *ngIf="filteredListSites.length > 0">
        <ul *ngFor="let item of filteredListSites" >
            <li >
                <a (click)="select(item)">{{item}}</a>
            </li>
        </ul>
    </div>

    <router-outlet></router-outlet>

</div>