<div class="container adminZone">

    <div class="row">

        <div class="col">
            <div>
                <input [(ngModel)]="querySite" (keyup)="filterSites()" class="form-control" type="text" placeholder="Recherche d'un site">
            </div>
            <div class="form-control autocompleteList" *ngIf="filteredListSites.length > 0">
                <div *ngFor="let item of filteredListSites">
                    <a routerLink="site/form" (click)="selectSite(item)">{{item}}</a>
                </div>
            </div>

            <button routerLink="site/new" type="button" class="newButton btn btn-primary" data-toggle="modal" data-target="#ajoutSiteModal">
                <i class="plusicon fa fa-plus-circle"></i>
              </button>
        </div>
        

        <div class="col">
            <div>
                <input [(ngModel)]="querySensor" (keyup)="filterSensors()" class="form-control" type="text" placeholder="Recherche d'un capteur">
            </div>
            <div class="form-control autocompleteList" *ngIf="filteredListSensors.length > 0">
                <div *ngFor="let item of filteredListSensors">
                    <a routerLink="sensor/form" (click)="selectSensor(item)">{{item}}</a>
                </div>
            </div>
        </div>

    </div>
    <router-outlet></router-outlet>

</div>