<div class="container-fluid full-height">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="warnings">
                <h1 class="heading">Avertissements</h1>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2 class="heading">Gel prévu</h2>
                    <p>Refuge du Goûter à partir du 13/10/2017</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2 class="heading">Dégel prévu</h2>
                    <p>Refuge des Feneys à partir du 14/10/2017</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2 class="heading">Température inhabituelle</h2>
                    <p>25°C - G2 Fondoir (Refuge du Goûter) 13/10/2017 13h40</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2 class="heading">Humidité inhabituelle</h2>
                    <p>80% - G2 Fondoir (Refuge du Goûter) 13/10/2017 13h40</p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2 class="heading">Matériel</h2>
                    <p>Batterie faible - G2 Fondoir (Refuge du Goûter) 13/10/2017 13h40</p>
                    <p>Passerelle P1 - Pas de communication 13/10/2017 13h40 </p>
                </div>
            </div>
            <div class="sensors">
                <h1 class="heading">Mes capteurs clés triés par refuge</h1>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2 class="heading">Refuge du Goûter</h2>
                    <a href="#">G2 - Fondoir</a>
                    <a href="#">G4 - Dortoir 1</a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2 class="heading">Refuge des Feneys</h2>
                    <a href="#">F2 - Fondoir</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 no-padding-right">
            <map class="app-container"></map>
        </div>
    </div>
</div>