<div class="container-fluid fill">
    <div class="row fill">
        <div class="col-sm-12 col-md-12 col-lg-6 fill d-none d-lg-block home-summary">
            <div class="warnings">
                <h1 class="heading">Avertissements</h1>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h2 class="heading">Gel prévu</h2>
                    <p>Refuge du Goûter à partir du 13/10/2017</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h2 class="heading">Dégel prévu</h2>
                    <p>Refuge des Feneys à partir du 14/10/2017</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h2 class="heading">Température inhabituelle</h2>
                    <p>25°C - G2 Fondoir (Refuge du Goûter) 13/10/2017 13h40</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h2 class="heading">Humidité inhabituelle</h2>
                    <p>80% - G2 Fondoir (Refuge du Goûter) 13/10/2017 13h40</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <h2 class="heading">Matériel</h2>
                    <p>Batterie faible - G2 Fondoir (Refuge du Goûter) 13/10/2017 13h40</p>
                    <p>Passerelle P1 - Pas de communication 13/10/2017 13h40 </p>
                </div>
            </div>  
            <div class="sensors">
                <h1 class="heading">Mes capteurs clés triés par refuge</h1>
                <loading *ngIf="sites == null" [model]="modelLoading"></loading>
                <ng-container *ngIf="sites != null">
                    <div class="col-sm-12 col-md-12 col-lg-6" *ngFor="let site of sites">
                        <h2 class="heading"> <a routerLink="/site">{{site.name}}</a></h2>
                        <ng-container *ngFor="let device of site.devices">
                            <a routerLink="/sensor" *ngIf="device.isFavorite">{{device.name}}</a>
                        </ng-container>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 fill no-padding-x map-wrapper">
            <map class="app-container"></map>
        </div>
    </div>
</div>