<div class="login">
    <div class="container text-center loginZone">

        <h1> Bienvenue sur SmartFreeze </h1>

        <h3>Choisissez votre environnement de démonstration</h3>

        <form class="formZone">

            <label class="label">
                <input type="radio" name="appType" id="refuge" checked> Refuges
            </label>

            <label class="label">
                <input type="radio" name="appType" id="agri"> SmartAgriculture
            </label>

            <button type="submit" class="submitButton">GO</button>

        </form>
        
    </div>
</div>