<div class="container-fluid homePage">
    <div class="all-sites-header">
        <ng-container *ngIf="countActives <= 1">
            <button type="button" class="btn btn-outline-primary toggle-all" (click)="openAll()">Tout déplier</button>
        </ng-container>
        <ng-container *ngIf="countActives > 1">
            <button type="button" class="btn btn-outline-primary toggle-all" (click)="closeAll()">Tout fermer</button>
        </ng-container>
        <h1 class="title">
            Mes sites
        </h1>
        <div class="switch-gel">
            <button type="button" class="btn btn-outline-primary" [ngClass]="{'active': !gelFilter }" (click)="gelFilter = !gelFilter;">Voir tous les sites</button>
            <button type="button" class="btn btn-outline-primary" [ngClass]="{'active': gelFilter }" (click)="gelFilter = !gelFilter;">Voir uniquement les sites avec alerte</button>
        </div>
    </div>
    <div class="row" [ngClass]="{'filtered': gelFilter }">
        <loading *ngIf="sites == null"></loading>
        <div class="col-12 col-sm-12 col-md-3 mb-3" *ngFor="let site of sites" [ngClass]="{'hasAlarm': site.hasActiveAlarms }">
            <div class="card cardDashboard cardAllSites" [ngClass]="{'active-card': site.isActive }">
                <div class=" cardDashboard-header">
                    <i *ngIf="site.hasActiveAlarms" class="gel-icon fa fa-exclamation-triangle" title="Une alerte sur ce site"></i>
                    <a [routerLink]="'/site/'+site.id">{{site.name}}</a>
                    <i class="card-icon fa" [ngClass]="{'fa-minus': site.isActive, 'fa-plus' : !site.isActive }" (click)="go_clicked(site)"></i>
                </div>
                <div class="toggle-card">
                    <div class="card-body">
                        <div class="card-item" *ngFor="let device of site.devices">

                            <p class="sensorIcons">
                                <i *ngIf="device.isFavorite" class="fav-icon fa fa-star" title="Capteur favoris"></i>
                                <i *ngIf="device.hasActiveAlarms" class="gel-icon fa fa-exclamation-triangle" title="Une alerte sur ce capteur"></i>
                            </p>

                            <button [routerLink]="'/sensor/'+device.id" class="btn btn-primary btnSensor">
                                <p>
                                    <b>Zone : </b> {{device.zone}}
                                    <br/>
                                </p>
                                <p>
                                    <b>Capteur : </b> {{device.name}}
                                    <br/>
                                </p>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>