<div class="container">



    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-info-circle"></i>
            ID
        </span>
        <input id="id" type="text" class="form-control" name="ID" placeholder="ID" disabled>
    </div>

    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-tag"></i>
            Nom
        </span>
        <input id="name" type="text" class="form-control" name="Nom" placeholder="Nom" required>
    </div>


    <map-site class="app-container"></map-site>

    <div class="row">
        <div class="col-lg-7 input-group">
            <span class="input-group-addon">
                <i class="fa fa-file"></i>
                Description
            </span>
            <textarea id="description" rows="3" class="form-control"></textarea>
        </div>

        <div class="col-lg-5 input-group">
            <span class="input-group-addon">
                <i class="fa fa-puzzle-piece"></i>
                Zones
                <i (click)="addZone()" class="plusicon fa fa-plus-circle"></i>
            </span>
            <div class="zoneWrapper">
                <div *ngFor="let zone of zones; let i = index; trackBy:trackByFn" class="input-group">
                    <input [(ngModel)]="zones[i]" class="form-control" type="text" name="" placeholder="Entrez un nom de zone">
                    <i class="deleteZonebtn fa fa-minus-square" (click)="removeZone(zone)"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-8 input-group">
            <span class="input-group-addon">
                <i class="fa fa-home"></i>
                Surface
            </span>
            <input id="surfaceArea" type="text" class="form-control" name="Surface" placeholder="Surface">
        </div>
        <div class="col-sm-2 col-4  input-group">
            <select class="form-control" id="uniteSurface">

                <option selected value="m²">m²</option>
                <option value="km²">km²</option>
                <option value="a">ares</option>
                <option value="ha">ha</option>
            </select>
        </div>
    </div>
    <div class="input-group">
        <span class="input-group-addon">
            <i class="fa fa-image"></i>
            Image
        </span>
        <label class="custom-file">

            <input type="file" id="file" class="inputstl">
            <span class="custom-file-control"></span>
        </label>
    </div>


    <div class="btn-form-admin">
        <button type="button" class="btn btn-secondary">
            <i class="fa fa-trash"></i> Supprimer ce site </button>
        <button type="button" class="btn btn-primary">
            <i class="fa fa-floppy-o"></i> Enregistrer les modifications</button>

    </div>

</div>