/* Primarys colors */

$app-primary : #6aa626;
$app-primary_lighter    :   lighten($app-primary, 30%);
$app-primary_light      :   lighten($app-primary, 15%);
$app-primary_dark       :   darken($app-primary, 15%);
$app-primary_darker     :   darken($app-primary, 30%);