/********************************************/
/*											*/
/*					Imports					*/
/*											*/
/********************************************/

@import "variables";

/********************************************/
/*											*/
/*					Base					*/
/*											*/
/********************************************/

html, body, .app-container {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	background: transparent;
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: $grey-base;
	opacity: .4;
	border-radius: 0px;
}

::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 0px;
}

::-webkit-scrollbar-track-piece {
	background: transparent;
}

::-webkit-scrollbar-corner {
	background: transparent;
}


/********************************************/
/*											*/
/*					Flex					*/
/*											*/
/********************************************/

.flex-container {
	display: flex;
	flex: auto;
	overflow: auto;
}

.flex-fix-width {
	display: flex;
	flex: none;
	height: 100%;
	width: auto;
	overflow: auto;
}

.flex-fix-height {
	display: flex;
	flex: none;
	width: 100%;
	height: auto;
	overflow: auto;
}

.flex-shrink-height {
	display: flex;
	flex: auto;
	width: 100%;
	height: auto;
}

.flex-shrink-width {
	display: flex;
	flex: auto;
	height: 100%;
	width: auto;
}

.flex-container-column {
	display: flex;
	flex-direction: column;
}

.flex-container-row {
	display: flex;
	flex-direction: row;
}

@import "components/app";
@import "components/footer";
@import "components/header";
@import "components/home";
@import "components/sidebar";