<div class="logo">
    Requea
</div>
<div class="search-wrapper">
    <i class="fa fa-search"></i>
    <input id="freesearch" class="d-none d-lg-block" name="freesearch" value="" placeholder="Recherche capteur/site"/>
    <input id="freesearch" class="d-md-none" name="freesearch" value="" placeholder="Rechercher un capteur/site"/>
</div>
<button (click)="go_clicked()" (clickOutside)="close()" class="alerts" type="button" title="Notifications">
    <i class="side-icon fa fa-bell"></i>
</button>
<ul class="alerts-pane" [style.display]="show">
    <li class="gravity-item gravity-1">
        <span class="alert-text">Gel prévu au Refuge du Goûter pour le 09/02/2018</span>
        <span class="alert-timestamp">04:42:42 07/02/2018</span>
    </li>
    <li class="gravity-item gravity-1">
        <span class="alert-text">Niveau de batterie faible <a routerLink="/sensor">F2 - Fondoir</a></span>
        <span class="alert-timestamp">04:42:42 07/02/2018</span>
    </li>
    <li class="gravity-item gravity-2">
        <span class="alert-text">Passerelle LoRa n°2 inactive</span>
        <span class="alert-timestamp">04:42:42 07/02/2018</span>
    </li>
    <li class="gravity-item gravity-3">
        <span class="alert-text">Alerte 4</span>
        <span class="alert-timestamp">04:42:42 07/02/2018</span>
    </li>
    <li class="more-link">
        <a routerLink="alerts">Voir tout</a>
    </li>
</ul>