<div class="logo">
    Requea
</div>
<div class="search-wrapper">
    <i class="fa fa-search"></i>
    <input id="freesearch" class="d-md-none" name="freesearch" value="" placeholder="Recherche capteur/site"/>
    <input id="freesearch" class="d-none d-md-block" name="freesearch" value="" placeholder="Rechercher un capteur/site"/>
</div>
<button (click)="go_clicked()" (clickOutside)="close()" class="alerts" type="button" title="Notifications">
    <i class="side-icon fa fa-bell"></i>
</button>
<ul class="alerts-pane" [style.display]="show">
    <ng-container *ngFor="let avert of alarmes">
        <li [ngClass]="{ 'gravity-1' : avert.gravity == 1, 'gravity-2' : avert.gravity == 2,'gravity-3' : avert.gravity == 3 }">
            <span class="alert-text">{{ avert.shortDescription }}</span>
            <span class="alert-timestamp">{{ avert.occuredAt }}</span>
            <i class="fa fa-eye-slash" title="Marquer comme lu"></i>
        </li>
    </ng-container>
    <li class="more-link">
        <a routerLink="alerts">Voir tout</a>
    </li>
</ul>