<div class="container-fluid position-relative">
    <a routerLink="/site" class="back-nav"><span class="arrow left"></span> Retour</a>
    <h1 class="title">
        <!-- TODO Ajouter ngClass pour toggle fav class -->
        <i class="fa fa-star"></i>
        {{device?.name}}
    </h1>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="card card-alerts">
                <div class="card-header ">
                    <h4 class="card-title">Avertissements</h4>
                </div>
                <div class="card-body">
                    <div>
                        <h5 class="card-category">
                            Température inhabituelle
                        </h5>
                        <p>
                            25°C - <a routerLink="sensor">G2 Fondoir</a> 13/10/2017 13h40
                        </p>
                    </div>
                    <div>
                        <h5 class="card-category">
                            Humidité inhabituelle
                        </h5>
                        <p>
                            80% - <a routerLink="sensor">G2 Fondoir</a> 13/10/2017 13h40
                        </p>
                    </div>
                    <div>
                        <h5 class="card-category">
                            Matériel
                        </h5>
                        <p>
                            Batterie faible - <a routerLink="sensor">G2 Fondoir</a> 13/10/2017 13h40
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Capteurs</h4>
                </div>
                <div class="card-body">
                    <label class="font-weight-bold">Site</label>
                    <p><a routerLink="site">Refuge du Goûter</a></p>
                    <label class="font-weight-bold">Zone</label>
                    <p>Fondoir</p>
                    <label class="font-weight-bold">Dernière communication</label>
                    <p>5 minutes</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Prévision gel</h4>
                </div>
                <div class="card-body ">
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <img src="../../assets/images/batteryLevel2.PNG" class="fit-img rounded">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Température</h4>
                </div>
                <div class="card-body ">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Humidité</h4>
                </div>
                <div class="card-body ">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Pression</h4>
                </div>
                <div class="card-body ">
                </div>
            </div>
        </div>
    </div>
</div>