<div class="app-container flex-container homePage">
    <a routerLink="/allSites" class="back-nav">
        <span class="arrow left"></span> Retour à tous les sites</a>
    <h1 class="titleDashboard">
        {{site?.name}}
    </h1>
    <div class="site-row app-container flex-container">
        <div class="wrapperAllSite">
            <div class="row wrapperFirstLine">
                <div class="col-12 col-sm-12 col-md-7 wrapperAvertLeft">
                    <div class="cardDashboard wrapperAlarms">
                        <h2 class="cardDashboard-header ">
                            Derniers Avertissements
                        </h2>
                        <div class="tableWrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>

                                        <th>Zone</th>
                                        <th></th>
                                        <th>Description</th>
                                        <th>Gravité</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>02/02/2018 15h04</td>
                                        <td>Fondoir</td>
                                        <td>
                                            <i class="fa fa-snowflake-o"></i>
                                        </td>
                                        <td>Gel prévu dans 5 jours</td>
                                        <td>
                                            <span class="label label-serieux">Sérieux</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-external-link"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>01/02/2018 18h04</td>
                                        <td>Fondoir</td>
                                        <td>
                                            <i class="fa fa-snowflake-o"></i>
                                        </td>
                                        <td>Gel prévu dans 2 jours</td>
                                        <td>
                                            <span class="label label-critique">Critique</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-external-link"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>26/01/2018 15h04</td>
                                        <td>Extérieur</td>
                                        <td>
                                            <i class="fa fa-wrench"></i>
                                        </td>
                                        <td>Non réception depuis 1 jour</td>
                                        <td>
                                            <span class="label label-info">Information</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-external-link"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>26/01/2018 15h04</td>
                                        <td>Extérieur</td>
                                        <td>
                                            <i class="fa fa-thermometer-quarter"></i>
                                        </td>
                                        <td>Dégel prévu dans 10 jours</td>
                                        <td>
                                            <span class="label label-info">Information</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-external-link"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>26/01/2018 15h04</td>
                                        <td>Extérieur</td>
                                        <td>
                                            <i class="fa fa-thermometer-quarter"></i>
                                        </td>
                                        <td>Dégel prévu dans 10 jours</td>
                                        <td>
                                            <span class="label label-info">Information</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-external-link"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>26/01/2018 15h04</td>
                                        <td>Extérieur</td>
                                        <td>
                                            <i class="fa fa-thermometer-quarter"></i>
                                        </td>
                                        <td>Dégel prévu dans 10 jours</td>
                                        <td>
                                            <span class="label label-info">Information</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-external-link"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>26/01/2018 15h04</td>
                                        <td>Extérieur</td>
                                        <td>
                                            <i class="fa fa-thermometer-quarter"></i>
                                        </td>
                                        <td>Dégel prévu dans 10 jours</td>
                                        <td>
                                            <span class="label label-info">Information</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-external-link"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>26/01/2018 15h04</td>
                                        <td>Extérieur</td>
                                        <td>
                                            <i class="fa fa-thermometer-quarter"></i>
                                        </td>
                                        <td>Dégel prévu dans 10 jours</td>
                                        <td>
                                            <span class="label label-info">Information</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-external-link"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>26/01/2018 15h04</td>
                                        <td>Extérieur</td>
                                        <td>
                                            <i class="fa fa-thermometer-quarter"></i>
                                        </td>
                                        <td>Dégel prévu dans 10 jours</td>
                                        <td>
                                            <span class="label label-info">Information</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-external-link"></i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>26/01/2018 15h04</td>
                                        <td>Extérieur</td>
                                        <td>
                                            <i class="fa fa-thermometer-quarter"></i>
                                        </td>
                                        <td>Dégel prévu dans 10 jours</td>
                                        <td>
                                            <span class="label label-info">Information</span>
                                        </td>
                                        <td>
                                            <i class="fa fa-external-link"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-5 site-column">
                    <div class="cardDashboard flex-container-column">
                        <h2 class="cardDashboard-header">
                            Prévisions du gel sur 5 jours
                        </h2>
                        <div class="gelTab">
                            <div class="allIndications">
                                <div class="indicationDay">
                                    <div class="indicationSquare">Jour</div>
                                    <div class="indicationSquare">A.M.</div>
                                    <div class="indicationSquare">P.M.</div>
                                </div>
                                <div title="Probabilité de gel d'indice {{forecast.morning?.trustIndication}}" class="indicationDay" *ngFor="let forecast of forecastSite">
                                    <div class="indicationSquare">
                                        {{forecast.date | date:'EEE'}}
                                    </div>
                                    <div [routerLink]="'/sensor/'+forecast.morning?.deviceId" [ngClass]="{ 
                                    'indicationSquare-0' : forecast.morning?.trustIndication == 0,
                                    'indicationSquare-1' : forecast.morning?.trustIndication == 1, 
                                    'indicationSquare-2' : forecast.morning?.trustIndication == 2,
                                    'indicationSquare-3' : forecast.morning?.trustIndication == 3,
                                    'indicationSquare-4 fa fa-exclamation-triangle' : forecast.morning?.trustIndication == 4}"
                                        class="indicationSquare">
                                    </div>
                                    <div [routerLink]="'/sensor/'+forecast.afternoon?.deviceId" [ngClass]="{ 
                                        'indicationSquare-0' : forecast.afternoon?.trustIndication == 0,
                                        'indicationSquare-1' : forecast.afternoon?.trustIndication == 1, 
                                        'indicationSquare-2' : forecast.afternoon?.trustIndication == 2,
                                        'indicationSquare-3' : forecast.afternoon?.trustIndication == 3,
                                        'indicationSquare-4 fa fa-exclamation-triangle' : forecast.afternoon?.trustIndication == 4}"
                                        class="indicationSquare">
                                    </div>
                                </div>
                            </div>
                            <div class="legendeProbaGel">
                                Légende pour la probabilité de gel
                                <div class="row ">
                                    <div class="col-2 col-sm-2 legendeItem">
                                        <span class="indicationSquare indicationSquare-0"></span>
                                        Aucune</div>
                                    <div class="col-2 col-sm-2 legendeItem">
                                        <span class="indicationSquare indicationSquare-1"></span>
                                        Faible</div>
                                    <div class="col-2 col-sm-2 legendeItem">
                                        <span class="indicationSquare indicationSquare-2"></span>
                                        Moyenne</div>
                                    <div class="col-2 col-sm-2 legendeItem">
                                        <span class="indicationSquare indicationSquare-3"></span>
                                        Forte</div>
                                    <div class="col-2 col-sm-2 legendeItem">
                                        <span class="indicationSquare indicationSquare-4"></span>
                                        Certaine</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row wrapperSndLine wrapperCharts position-relative">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="cardDashboard">
                        <h2 class="cardDashboard-header">
                            Historique température
                        </h2>
                        <loading *ngIf="temperatureDataset == null"></loading>
                        <chart *ngIf="temperatureDataset != null" [dataSet]="temperatureDataset" [type]="'temp'" [period]="period"></chart>
                    </div>
                </div>
                <select class="select-site-period" (change)="reloadChart($event.target.value)">
                    <option value="" disabled>Période courante</option>
                    <option value="year">Année</option>
                    <option value="quarter">Trimestre</option>
                    <option value="month">Mois</option>
                    <option value="week">Semaine</option>
                    <option value="day" selected>Jour</option>
                    <option value="hour">Heure</option>
                </select>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="cardDashboard">
                        <h2 class="cardDashboard-header text-sm-right text-md-right">
                            Historique humidité
                        </h2>
                        <loading *ngIf="humidityDataset == null"></loading>
                        <chart *ngIf="humidityDataset != null" [dataSet]="humidityDataset" [type]="'humidity'" [period]="period"></chart>
                    </div>
                </div>
            </div>
        </div>
        <div class="cardInfosSite">
            <div class="wrapperImg">
                <img class="fit-img" src="./assets/images/gouter.jpg">
                <div class="buttonMoreInfos">
                    <span (click)="showCaract()" class="icon btnCaract">
                        <i class=" fa fa-bars"> </i>
                    </span>

                    <span (click)="showMeteo()" class="icon btnMeteo">
                        <i class=" fa fa-cloud"> </i>
                    </span>
                </div>
            </div>
            <div class="contentSite cardDashboard">
                <div id="caracteristiques" class="caracteristiques">
                    <h2 class="title">
                        Caractéristiques du site
                    </h2>
                    <div>
                        <p>
                            <i>{{site?.description}}</i>
                        </p>
                        <p>
                            <b>Surface : </b>{{site?.surfaceArea + ' ' + site?.surfaceAreaUnit}}</p>
                        <p>
                            <b>Altitude : </b>{{site?.altitude}}m d'altitude</p>
                        <p>
                            <b>Département : </b>{{site?.region + ' (' + site?.department + ')'}}</p>
                    </div>
                    <div>
                        <!-- middleWrapperFirstLine -->
                        <h2 class="cardDashboard-header">
                            Les Capteurs
                        </h2>
                        <div>
                            <div *ngFor="let device of site?.devices">
                                <button [routerLink]="'/sensor/'+device.id" class="btn btn-primary" style="margin:3px;">
                                    <span title="{{device.activeAlarmsCount}} alarmes actives" *ngIf="device.hasActiveAlarms">
                                        <i class="fa fa-exclamation-triangle"></i>
                                    </span>
                                    <span *ngIf="device.isFavorite">
                                        <i class="fa fa-star"></i>
                                    </span>

                                    <span>
                                        {{device.name}}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="meteo" class="meteo app-container">
                    <!--<div class="title">
                        Prévisions météo
                    </div>-->
                    <div class="meteo-content">
                        <weather-widget *ngIf="settings != null" [settings]="settings"></weather-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>