<div class="container-fluid">
    <h1 class="title">
        {{site?.name}}
    </h1>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="card card-alerts">
                <div class="card-header ">
                    <h4 class="card-title">Avertissements</h4>
                </div>
                <div class="card-body">
                    <div>
                        <h5 class="card-category">
                            Température inhabituelle
                        </h5>
                        <p>
                            25°C - <a routerLink="sensor">G2 Fondoir</a> 13/10/2017 13h40
                        </p>
                    </div>
                    <div>
                        <h5 class="card-category">
                            Humidité inhabituelle
                        </h5>
                        <p>
                            80% - <a routerLink="sensor">G2 Fondoir</a> 13/10/2017 13h40
                        </p>
                    </div>
                    <div>
                        <h5 class="card-category">
                            Matériel
                        </h5>
                        <p>
                            Batterie faible - <a routerLink="sensor">G2 Fondoir</a> 13/10/2017 13h40
                        </p>
                    </div>
                </div>
            </div>
        </div>
  
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Capteurs</h4>
                </div>
                <div class="card-body">
                    <div class="card-item" *ngFor="let device of site?.devices">
                        <a [routerLink]="'/sensor/'+device.id">{{device.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Caractéristiques</h4>
                </div>
                <div class="card-body ">
                    <p>{{site?.description}}</p>
                    <p>{{site?.surfaceArea + ' ' + site?.surfaceAreaUnit}}</p>
                    <p>[DATA MISSING]m d'altitude</p>
                    <p>{{site?.region + ' (' + site?.department + ')'}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <img class="fit-img rounded" src="../../assets/images/gouter.jpg">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Prévision</h4>
                    <!-- <p class="card-category"></p> -->
                </div>
                <div class="card-body ">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-category">Jour</h5>
                            <!-- chart -->
                        </div>
                        <div class="col-md-6">
                            <h5 class="card-category">Semaine</h5>
                            <!-- chart -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-header ">
                    <h4 class="card-title">Températures</h4>
                </div>
                <div class="card-body ">
                </div>
            </div>
        </div>
    </div>
</div>
