<div class="app-container flex-container homePage">
    <div class="titleDashboard">
        {{site?.name}}
    </div>
    <div class="row wrapperFirstLine">
        <div class="col-md-6">
            <div class="cardDashboard wrapperAlarms">

                <div class="cardDashboard-header ">
                    Derniers Avertissements
                </div>
                <div class="tableWrapper">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>

                                <th>Zone</th>
                                <th></th>
                                <th>Description</th>
                                <th>Gravité</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>02/02/2018 15h04</td>
                                <td>Fondoir</td>
                                <td>
                                    <i class="fa fa-snowflake-o"></i>
                                </td>
                                <td>Gel prévu dans 5 jours</td>
                                <td>
                                    <span class="label label-serieux">Sérieux</span>
                                </td>
                                <td>
                                    <i class="fa fa-external-link"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>01/02/2018 18h04</td>
                                <td>Fondoir</td>
                                <td>
                                    <i class="fa fa-snowflake-o"></i>
                                </td>
                                <td>Gel prévu dans 2 jours</td>
                                <td>
                                    <span class="label label-critique">Critique</span>
                                </td>
                                <td>
                                    <i class="fa fa-external-link"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>26/01/2018 15h04</td>
                                <td>Extérieur</td>
                                <td>
                                    <i class="fa fa-wrench"></i>
                                </td>
                                <td>Non réception depuis 1 jour</td>
                                <td>
                                    <span class="label label-info">Information</span>
                                </td>
                                <td>
                                    <i class="fa fa-external-link"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>26/01/2018 15h04</td>
                                <td>Extérieur</td>
                                <td>
                                    <i class="fa fa-thermometer-quarter"></i>
                                </td>
                                <td>Dégel prévu dans 10 jours</td>
                                <td>
                                    <span class="label label-info">Information</span>
                                </td>
                                <td>
                                    <i class="fa fa-external-link"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                <div class="cardDashboard">
                    <div class="cardDashboard-header">
                        Les Capteurs
                    </div>
                    <div>
                        <div *ngFor="let device of site?.devices">
                            <button [routerLink]="'/sensor/'+device.id" class="btn btn-primary" style="margin:3px;">
                                <span title="{{device.activeAlarmsCount}} alarmes actives" *ngIf="device.hasActiveAlarms">
                                    <i class="fa fa-exclamation-triangle"></i>
                                </span>
                                <span *ngIf="device.isFavorite">
                                    <i class="fa fa-star"></i>
                                </span>

                                <span>
                                    {{device.name}}
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cardDashboard">
                    <div class="cardDashboard-header ">
                        Prévisions
                    </div>
                    <div>
                        prévisions (..) tableau sur 5 jours
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="cardInfosSite">
                <img class="fit-img" src="../../assets/images/gouter.jpg">
                <div class="contentSite cardDashboard">
                    <div class="buttonMoreInfos">
                        <div class="col-md-5"></div>
                        <div class="col-md-3">
                            <span (click)="showCaract()" class="icon btnCaract">
                                <i class=" fa fa-bars"> </i>
                            </span>
                        </div>
                        <div class="col-md-3">
                            <span (click)="showMeteo()" class="icon btnMeteo">
                                <i class=" fa fa-cloud"> </i>
                            </span>
                        </div>
                    </div>
                    <div id="caracteristiques" class="caracteristiques">
                        <div class="title">
                            Caractéristiques du site
                        </div>
                        <div>
                            <p>
                                <i>{{site?.description}}</i>
                            </p>
                            <p>
                                <b>Surface : </b>{{site?.surfaceArea + ' ' + site?.surfaceAreaUnit}}</p>
                            <p>
                                <b>Altitude : </b>[DATA MISSING]m d'altitude</p>
                            <p>
                                <b>Département : </b>{{site?.region + ' (' + site?.department + ')'}}</p>
                        </div>
                    </div>
                    <div id="meteo" class="meteo">
                        <div class="title">
                            Prévisions météo
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="row wrapperFirstLine cardDashboard position-relative">
        <div class="col-md-6">
            <div class="cardDashboard-header">
                Historique température
            </div>
            <div>
                <canvas id="chart-temp" class="chartjs-render-monitor site-chart"></canvas>
                <!-- graphe température pour tous les capteurs + plusieurs granularité -->
            </div>
        </div>
        <select class="select-period" (change)="changeScale($event.target.value)">
            <option value="" disabled>Période courante</option>
            <option value="year">Année</option>
            <option value="quarter">Trimestre</option>
            <option value="month">Mois</option>
            <option value="week">Semaine</option>
            <option value="day" selected>Jour</option>
            <option value="hour">Heure</option>
        </select>
        <div class="col-md-6">    
            <div class="cardDashboard-header text-sm-right text-md-right">
                Historique humidité
            </div>
            <div>
                <canvas id="chart-humidity" class="chartjs-render-monitor site-chart"></canvas>
                <!-- graphe humidité pour tous les capteurs + plusieurs granularité -->
            </div>
        </div>
    </div>
</div>